<%- include('partials/head.ejs'); %>

<h1 class="countdown-title">The next Spacex launch is in</h1>

<div class="countdown">

    <div class="countdown-wrap">
      <div class="countdown-days">0</div>
      <div class="countdown-label">Days</div>
    </div>

    <div class="countdown-wrap">
      <div class="countdown-hours">0</div>
      <div class="countdown-label">Hours</div>
    </div>

    <div class="countdown-wrap">
      <div class="countdown-minutes">0</div>
      <div class="countdown-label">Minutes</div>
    </div>

    <div class="countdown-wrap">
      <div class="countdown-seconds">0</div>
      <div class="countdown-label">Seconds</div>
    </div>

  </div>

<%- include('partials/footer.ejs'); %>

