<!DOCTYPE html>
<html lang="en">
<head>  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/png" href=""/>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="manifest" href="/manifest.json">
  <script src="/main.js"></script>

  <link rel="preload" href="/img/dog_space.png" as="image">
  <link rel="preload" href="/img/youtube_logo.png" as="image">
  <link rel="preload" href="/img/reddit_logo.png" as="image">
  <link rel="preload" href="/img/wiki_logo.png" as="image">
  <link rel="preload" href="/img/launchpad.jpg" as="image">
  <link rel="preload" href="/img/payload.jpg" as="image">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

  <title>The next Spacex launch</title>

</head>

<body>

  <main class="main">